# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*
_raduga-20386/sheksna/build/
imitator/gamma_imitator/build/
imitator/krab_imitator/build/
store/moxa/build/
store/kson_xz/build/
store/kson/build/
imitator/skm_imitator/build/
store/ups/build/
imitator/raduga_imitator/build/
store/universal_packet/build/
store/upz/build/
imitator/iv1_imitator/build/
imitator/gamma_opa_imitator/build/
